<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body>
    <div>
        <section class="menus">
        <h2 id="m1">Menu 1 </h2> <h2 id="m2">Menu 2 </h2> <h2 id="m3">Menu 3 </h2>
        </section>
    </div>


    <div>
    <section class="abertura">
        <h1>Sessão inicial</h1>
        <p>Bem-vindos a uma jornada pela Idade Média, um período de cavaleiros, castelos, intrigas e heroísmo. <br />
           Nossa história medieval levará você a um mundo de reinos em conflito, onde a honra é tão valiosa quanto o ouro<br /> e onde o destino de heróis é forjado nas batalhas de espadas.</p>
    </section>
    </div>

    <div>
        <section class="borda_esquerda">
            borda
        </section>
    </div>
</body>
</html>